---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Blocks from "../components/Blocks.astro";
import { slug } from "slug-gen";
import Info from "../components/Info.astro";

import homeData from "../content/home.json";
import global from "../content/global.json";
const { date, venue, location, email, website } = global;

const formattedDate = new Intl.DateTimeFormat("ch-FR", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
}).format(new Date(date));

const title = "localhost:2025";
const countryCode = "CH";
const formattedStartTime = "17:00";
const formattedEndTime = "00:00";
const { sections } = homeData["en"];

import logo from "../assets/logo.png";
---

<script>
  console.log("hello");
</script>

<Layout>
  <section
    id="quick-reserve"
    class="fixed bottom-0 flex w-full flex-col border-black px-3 pb-1"
  >
    <a
      href="/shop"
      target="_blank"
      class="border-2 bg-black py-2.5 text-center text-white"
    >
      Get Your Free Tickets
    </a>
  </section>
  <header class="bg-brand grid grid-cols-2 gap-3 px-3 py-[18px] leading-tight [&_.metaa-link]:block">
    <Info />
  </header>
  <main class="bg-background mx-auto flex flex-col gap-12 px-4 pt-3 pb-16">
    <nav class="flex max-w-[70%] flex-wrap gap-1">
      {
        sections &&
          sections
            .filter((section) => section.menu)
            .map(({ title, menu }) => {
              return (
                <a
                  href={`#${slug(title)}`}
                  class="border-2 border-black px-4 py-2 text-center leading-none font-semibold transition-colors hover:bg-black hover:text-white"
                >
                  {menu}
                </a>
              );
            })
      }
    </nav>

    {
      sections &&
        sections.map(({ title, blocks, hiddenTitle }) => (
          <section class="flex flex-col gap-4" id={slug(title)}>
            {!hiddenTitle && <h2 class="text-[2rem] font-semibold">{title}</h2>}
            {blocks && <Blocks blocks={blocks} />}
          </section>
        ))
    }
    <!-- <footer class="flex flex-row justify-between"> -->
    <!--   <a href={website}>Website</a> -->
    <!--   <a href={`maito:${email}`}>Email</a> -->
    <!--   <span>@METAA 2025</span> -->
    <!-- </footer> -->
  </main>
</Layout>
