---
import Layout from "../layouts/Layout.astro";
import Blocks from "../components/Blocks.astro";

import homeData from "../content/home.json";
import global from "../content/global.json";
const { date, venue, location, email, website } = global;

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(new Date(date));

const { sections } = homeData["en"];
---

<Layout>
  <script
  is:inline
    id="etickets"
    src="https://infomaniak.events/scripts/shop/A537MGRWN9"
    ></script>
  <main class="mx-auto flex max-w-[414px] flex-col gap-12 pt-2 pb-16">
    <div class="flex flex-row justify-center gap-4 text-xs">
      <div>{formattedDate}</div>
      <div>{venue}, {location}</div>
    </div>
    <h1 class="w-full text-center text-6xl">localhost:2025</h1>
    {
      sections &&
        sections.map(({ title, blocks, hiddenTitle }) => (
          <section class="flex flex-col gap-4">
            {!hiddenTitle && <h2 class="text-3xl">{title}</h2>}
            {blocks && <Blocks blocks={blocks} />}
          </section>
        ))
    }
    <footer class="flex flex-row justify-between">
      <a href={website}>Website</a>
      <a href={`maito:${email}`}>Email</a>
      <span>@METAA 2025</span>
    </footer>
  </main>
</Layout>
