---
import Layout from "../layouts/Layout.astro";
import Blocks from "../components/Blocks.astro";

import homeData from "../content/home.json";
import global from "../content/global.json";
const { date, venue, location } = global;

const formattedDate = new Intl.DateTimeFormat("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
}).format(new Date(date));

const { sections } = homeData["en"];
---

<Layout>
  <main class="mx-auto flex max-w-[414px] flex-col gap-12 pt-2 pb-16">
    <div class="flex text-xs flex-row gap-4 justify-center">
      <div>{formattedDate}</div>
      <div>{venue}, {location}</div>
    </div>
    <h1 class="w-full text-center text-6xl">localhost:2025</h1>
    {
      sections &&
        sections.map(({ title, blocks, hiddenTitle }) => (
          <section class="flex flex-col gap-4">
            {!hiddenTitle && <h2 class="text-3xl">{title}</h2>}
            {blocks && <Blocks blocks={blocks} />}
          </section>
        ))
    }
  </main>
</Layout>
