---
import Info from "./Info.astro";
import { Image } from "astro:assets";
const blocks = Astro.props.blocks;
import { marked } from "marked";

const readMore = "Read More";
const readLess = "Read Less";
---

{
  blocks?.map((block: any) => {
    if (block.type === "container") {
      const { spacing, blocks } = block;

      return (
        <div class="flex flex-col gap-1.5">
          <Astro.self blocks={blocks} />
        </div>
      );
    }

    if (block.type === "markdown") {
      const { markdown } = block;
      const unsafeRawHTML = marked.parse(markdown);
      return (
        <div
          class="markdown space-y-2 md:[&>*]:mb-8 md:[&>p]:mb-6"
          set:html={unsafeRawHTML}
        />
      );
    }

    if (block.type === "info") {
      return (
        <div class="grid grid-cols-2 gap-3 leading-tight font-semibold md:flex">
          <Info compact={true} />
        </div>
      );
    }

    if (block.type === "buy_button") {
      return (
        <section
          class="sticky h-10 top-0 flex w-full flex-col md:hidden"
        >
          <a
            href="/shop"
            target="_blank"
            class="w-full bg-black py-2.5 text-center text-white"
          >
            Get Your Free Tickets
          </a>
        </section>
      );
    }

    if (block.type === "metaa_links") {
      return (
        <div class="flex flex-wrap has-[.ring-stacking]:px-[1px] has-[.ring-stacking]:py-[1px]">
          <a
            href="https://https://metaa.ch/"
            target="_blank"
            class="ring-stacking px-4 py-2 text-center leading-none font-semibold"
          >
            WWW
          </a>
          <a
            href="https://www.instagram.com/metaa_social/"
            target="_blank"
            class="ring-stacking px-4 py-2 text-center leading-none font-semibold"
          >
            IG
          </a>
        </div>
      );
    }

    if (block.type === "link") {
      const { title, style, href, target } = block;
      const primaryStyles = "bg-black text-white";
      const secondaryStyles = "bg-white text-black";
      const extraStyles = style === "primary" ? primaryStyles : secondaryStyles;
      return (
        <a
          href={href}
          target={target}
          class:list={[
            "block w-full rounded-md border py-2.5 text-center",
            extraStyles,
          ]}
        >
          {title}
        </a>
      );
    }

    if (block.type === "data") {
      const { entries } = block;
      return (
        <div class="grid grid-cols-2 gap-2">
          {entries &&
            entries.map(({ key, value }) => (
              <div class="flex flex-col">
                <span class="text-xs">{key}</span>
                <span>{value}</span>
              </div>
            ))}
        </div>
      );
    }

    if (block.type === "highlights") {
      const { entries } = block;
      return (
        <div class="localhost-full-w flex grid-cols-2 flex-col gap-8 md:gap-16">
          {entries &&
            entries.map(
              ({
                image,
                alt,
                title,
                description,
                url,
                time,
                titleImage,
                titleAlt,
                more,
                instagram,
              }) => (
                <div class="bg-brand grid auto-rows-min grid-cols-1 gap-4 p-2 [box-shadow:0_0_8px_8px_var(--color-brand)] md:grid-cols-2 md:gap-8 md:[box-shadow:0_0_1.25rem_1rem_var(--color-brand)]">
                  <div class="flex h-fit flex-wrap has-[.ring-stacking]:px-[1px] has-[.ring-stacking]:py-[1px] md:col-start-2">
                    <span class="ring-stacking px-4 py-2 text-center leading-none font-semibold">
                      {title}
                    </span>
                    <span class="ring-stacking px-4 py-2 text-center leading-none font-semibold">
                      {time}
                    </span>
                  </div>
                  <img
                    src={image}
                    inferSize={true}
                    alt={alt}
                    class="md:order-[-1] md:row-span-5 md:w-full"
                  />
                  <img
                    src={titleImage}
                    inferSize={true}
                    alt={titleAlt}
                    class="h-max mix-blend-multiply md:col-start-2"
                  />
                  <span class="leading-tight md:col-start-2">
                    {description}
                  </span>
                  {more && (
                    <div class="col-span-1 col-start-2 hidden h-max md:block">
                      {more}
                    </div>
                  )}
                  <div class="relative mt-auto flex h-fit flex-row md:col-start-2 md:row-start-5">
                    {more && (
                      <details class="peer group ring-stacking open:bg-brand px-4 py-2 leading-tight open:w-full hover:bg-black hover:text-white md:hidden">
                        <summary class="leading-none">
                          <span class="group-open:hidden">{readMore}</span>
                          <span class="hidden group-open:block">
                            {readLess}
                          </span>
                        </summary>
                        <div>{more}</div>
                      </details>
                    )}
                    <a
                      href={url}
                      target="_blank"
                      class="ring-stacking px-4 py-2 text-center leading-none font-semibold transition-colors peer-open:hidden hover:bg-black hover:text-white"
                    >
                      WWW
                    </a>
                    {instagram && (
                      <a
                        href={url}
                        target="_blank"
                        class="ring-stacking px-4 py-2 text-center leading-none font-semibold transition-colors peer-open:hidden hover:bg-black hover:text-white"
                      >
                        IG
                      </a>
                    )}
                  </div>
                  <span class="hidden">{url}</span>
                </div>
              ),
            )}
        </div>
      );
    }

    if (block.type === "sponsors") {
      const { entries } = block;
      return (
        <div class="grid grid-cols-3 items-center justify-items-center gap-2">
          {entries &&
            entries.map(({ image, alt, title, url }) => (
              <>
                {url && (
                  <a href={url}>
                    <img src={image} alt={alt} title={title} />
                  </a>
                )}
                {!url && (
                  <img
                    class="max-w-[80%] object-contain"
                    src={image}
                    alt={alt}
                    title={title}
                  />
                )}
              </>
            ))}
        </div>
      );
    }

    if (block.type === "schedule") {
      const { slots } = block;
      return (
        <div class="bg-brand divide-y-1 p-2 leading-tight [box-shadow:0_0_8px_8px_var(--color-brand)] md:[box-shadow:0_0_1.25rem_1rem_var(--color-brand)]">
          {slots &&
            slots.map(({ time, event }) => (
              <div class="flex flex-col py-2 md:flex-row">
                <span class="pr-4">{time}</span>
                <span class="whitespace-pre">{event}</span>
              </div>
            ))}
        </div>
      );
    }

    if (block.type === "content_entries") {
      const { entries } = block;
      return (
        <div class="localhost-full-w flex flex-col gap-4 md:grid md:grid-cols-4 md:gap-8">
          {entries &&
            entries.map(({ title, markdown }) => {
              const unsafeRawHTML = marked.parse(markdown);
              return (
                <div class="flex flex-col gap-4 md:gap-8">
                  <h3 class="md:text-[2rem] md:leading-[1.125]">{title}</h3>
                  <div
                    class="markdown space-y-2 text-sm md:text-[1.25rem] md:leading-[1.2] [&_p]:m-0"
                    set:html={unsafeRawHTML}
                  />
                </div>
              );
            })}
        </div>
      );
    }
  })
}
