---
import { Image } from "astro:assets";
import global from "../content/global.json";
const { date, venue, location, email, website } = global;
const title = "localhost:2025";
const countryCode = "CH";
const formattedStartTime = "17:00";
const formattedEndTime = "01:30";
import logo from "../assets/logo.png";
const formattedDate = new Intl.DateTimeFormat("ch-FR", {
  year: "numeric",
  month: "numeric",
  day: "numeric",
}).format(new Date(date));

import Logo from "../components/Logo.astro";
const { compact = false, lang = Astro.currentLocale } = Astro.props;
---

<div class="contents gap-8 md:flex md:flex-row">
  {!compact && (
    <div class="md:mr-auto">
      {title}
      <br />
        <a href="/" class="hover:underline">/en</a>
        <a href="/fr" class="hover:underline">/fr</a>
    </div>
  )}
  <div>{venue},<br />{location}, {countryCode}</div>
  {
    !compact && (
      <Logo class="md:hidden" />
    )
  }
  <div>
    {formattedStartTime}–{formattedEndTime}
    <br />21.03.2025
  </div>
  <a href="https://metaa.ch" class="metaa-link hidden md:block">
    {lang === 'en' ? 'An event' : 'Un événement'}<br />
    {lang === 'en' ? 'by' : 'par'} METAA ↗</a>
</div>
<div class="hidden flex-grow items-center justify-center md:flex">
  {
  !compact && (
  <Logo />
    )
  }
</div>
