---
import "../styles/global.css";

const locale = "en";
const {
  title = "localhost:2025",
  description = "An event to look forward to.",
} = Astro.props;

const SITE = import.meta.env.SITE;
// const SITE = "http://localhost:4321"
const image = `${SITE}/og.png`;
const currentUrl = new URL(Astro.url.pathname, SITE).toString();
---

<!doctype html>
<html lang={Astro.currentLocale} class="bg-background h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <meta property="og:url" content={currentUrl} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {image && <meta property="og:image" content={image} />}
    <meta property="og:locale" content={locale} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <link rel="manifest" href="/site.webmanifest" />

    <link
      rel="icon"
      href="/android-chrome-192x192.png"
      sizes="192x192"
      type="image/png"
    />
    <link
      rel="icon"
      href="/android-chrome-512x512.png"
      sizes="512x512"
      type="image/png"
    />

    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/fav.jpg" type="image/jpeg" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <script
      defer
      src="https://umami.tiborudvari.com/script.js"
      data-website-id="ed92a39c-0e15-4787-86ec-cd25b612461f"></script>
  </head>
  <body
    class="bg-background scroll-pt-32 text-base font-semibold md:text-xl md:leading-[1.2]"
    style="scroll-padding-top: 20px;"
  >
    <slot />
  </body>
</html>
